@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body {
	background-color: #fff;
	color: #000;
	font-family: Arial, sans-serif;
	font-size: 16px;
	text-align: center;
  font-family: verdana, arial, sans-serif;
}

.container {
	margin: 50px auto;
	max-width: 600px;
}

h1 {
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 20px;
}

p {
	font-size: 20px;
	margin-top: 20px;
	line-height: 1.5;
}

.container:before,
.container:after {
    content: "";
    display: table;
}
.container:after {
    clear: both;
}

@media (max-width: 768px) {
	.container {
		margin: 30px auto;
	}
	h1 {
		font-size: 30px;
	}
	p {
		font-size: 18px;
	}
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

header {
  background-color: #ffffff;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 130px;
  margin-right: 10px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.nav-links li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.burger {
  display: none;
}



.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 100px;
  margin: 0 auto;
  max-width: 2000px;
}

.grid-item {
  text-align: center;
}

.grid-item img {
  max-width: 100%;
  height: auto;
  padding: 10px;
  border-radius: 5px;
}

.grid-item h4 {
  margin: 10px 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.grid-item p {
  font-size: 1rem;
  font-weight: bold;
  color: black;
}

.navbar-cart img {
  height: 30px;
}

.navbar-cart a {
  display: flex;
  align-items: center;
}

footer {
  background-color: #ffffff;
  padding: 30px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-md-4 {
  width: 33.33%;
  padding: 0 15px;
  box-sizing: border-box;
}

h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.logo-1 {
  max-width: 250px;
  margin-bottom: 0px;
}

input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ffffff; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 20px;
}

.back-btn {
  background-color: #000000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.back-btn a {
  color: #fff;
  text-decoration: none;
}


p {
  padding: 10px;
}


/* Centered text */
.centered {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;

}


* {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #ffffff;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ffffff;
  outline: none;
}

hr {
  border: 1px solid #746f6f;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #000000;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #ffffff;
  color: black;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}
