/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

/* Header Styles */
header {
  background-color: #ffffff;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  
}

/* Navigation Styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 130px;
  margin-right: 10px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.nav-links li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.burger {
  display: none;
}

@media screen and (max-width: 768px) {
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 80px;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 30px;
  }
}

.nav-active {
  transform: translateX(0%);
}

.line1, .line2, .line3 {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
  transition: transform 0.3s ease-in-out;
}

.burger.animate .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.burger.animate .line2 {
  opacity: 0;
}

.burger.animate .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.slideshow-container {
  max-width: 9000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.mySlides img {
  width: 100%;
}

.dots-container {
  text-align: center;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 100px;
  margin: 0 auto;
  max-width: 2000px;
}

.grid-item {
  text-align: center;
}

.grid-item img {
  max-width: 100%;
  height: auto;
  padding: 10px;
  border-radius: 5px;
}

.grid-item h4 {
  margin: 10px 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.grid-item p {
  font-size: 1rem;
  font-weight: bold;
  color: black;
}

.navbar-cart img {
  height: 30px;
}

.navbar-cart a {
  display: flex;
  align-items: center;
}

footer {
  background-color: #ffffff;
  padding: 30px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-md-4 {
  width: 33.33%;
  padding: 0 15px;
  box-sizing: border-box;
}

h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.logo-1 {
  max-width: 250px;
  margin-bottom: 0px;
}
















/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #000000; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: rgb(0, 0, 0);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #000000;
  padding: 20px;
}

.back-btn {
  background-color: #000000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.back-btn a {
  color: #fff;
  text-decoration: none;
}

.container1 {
	margin: 50px auto;
	max-width: 600px;
	text-align: center;
}

h5 {
	font-size: 36px;
	color: #007bff;
}

p2 {
	font-size: 20px;
	margin-top: 20px;
	color: #333;
}




.container3 {
  display: flex;
  flex-direction: row;
  align-items: left;
}


.info {
  width: 50%;
  padding: 0 20px;
}



